.list {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.links {
    cursor: pointer;
}

.desktopNavigation .links {
    padding: 3px 20px;
}
.mobileNavigation {
    display: none;
}

@media (max-width: 800px) {
    .desktopNavigation {
        display: none;
    }

    .mobileNavigation {
        padding: 39px 0px;
        display: flex;
    }

    .button {
        position: absolute;
        right: 10%;
        top: 2.4%;
        cursor: pointer;
    }

    .list {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .mobileNavigation .links {
        padding-bottom: 5px;
        margin: 0px;
    }

}