@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --- HOME CSS --- */

.Home {
  background-color: #e8e2ff;
  min-height: 100vh;
  align-items: flex-start;
  justify-content: center;
  display: flex;
}

.Home h1 {
  text-align: left;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
  font-size: calc(1vw + 2vmin);
  font-stretch: ultra-expanded;
  color: #6f5acd;
}

.Home p {
  text-align: left;
  overflow-wrap: normal;
  font-family: 'Poppins', sans-serif;
  font-size: calc(1vw + 2vmin);
  font-weight: normal;
  color: #291f80;
}

.Home span {
  overflow-wrap: normal;
  font-family: 'Poppins', sans-serif;
  font-size: calc(1vw + 2vmin);
  font-weight: normal;
  color: #6f5acd;
}

.Home button {
  background-color:#ff93dd;
  color: white;
  border-radius:45px;
  width: 10.5em;
  height: 1.5em;
  display:flex;
  align-items: center;
  cursor:pointer;
  font-size: calc(1vw + 2vmin);
  font-weight: bolder;
  outline: none;
  padding-left: calc(1.5vw + 2vmin);
  border: none;
}

#home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 5%;
}

#home-left {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 70%;
}

#home-right {
  width: 28%;
}

.home-img {
  float: right;
  max-width: 100%;
  height: auto;
}

/* -------------- BLOG CSS --------------- */

.Blog {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: #6f5acd;
  min-height: 100vh;
}

.Blog-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: #e8e2ff;
}

/* -------------- ABOUT CSS --------------- */

.About {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: #6f5acd;
  min-height: 100vh;
}

.About-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: #e8e2ff;
}

#about-container {
  display: flex;
}

#about-left {
  width: 38%;
  background-color: #543eb5;
  border-radius: 20px;
  margin: 3%;
  padding: 3%;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: calc(7px + 2vmin);
  display: flex;
  justify-content: center;
}

#about-right {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: calc(5px + 2vmin);
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.about-right-container {
  display: flex;
  flex-flow: column wrap;
  margin: 2%;
  padding: 2%;
}

.about-right-text {
  background-color: #543eb5;
  border-radius: 20px;
  margin: 2%;
  padding: 2%;
}

.about-right-img {
  margin-bottom: 20%;
}

@media (max-width: 1200px) {
  #about-container {
    display:table;
  }
  #about-left {
    width: 85%;
  }
}

@media (max-width: 735px) {
  #about-right {
    display: inline-block;
  }
  .about-right-container {
    margin: 2%;
    padding: 1%;
  }
  .about-right-text {
    margin: 1%;
    padding: 1%;
  }
}

/* -------------- VOLUNTEER CSS --------------- */

.Volunteer {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: #e8e2ff;
  min-height: 100vh;
}

#volunteer-container {
  display: flex;
}

#volunteer-left {
  margin-top: 10%;
  margin-left: 5%;
  margin-bottom: auto;
  width: 60%;
  display: flex;
  justify-content: center;
}

#volunteer-right {
  margin-top: 5%;
  margin-right: 5%;
  width: 60%;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.volunteer-right-container {
  display: flex;
  flex-flow: column wrap;
}

.volunteer-title {
  color: #6f5acd;
  font-size: calc(45px + 2vmin);
  font-weight: bold;
  text-align: left;
}

.volunteer-content {
  text-align: left;
  font-size: calc(10px + 2vmin);
}

.volunteer-button-holder {
  margin-left: 0;
  margin-right: auto;
}

.volunteer-button {
  background-color:#ff93dd;
  border-radius:40px;
  display:flex;
  cursor:pointer;
  color:#ffffff;
  font-size:calc(20px + 2vmin);
  font-weight: bolder;
  padding:12px 46px;
  text-decoration:none;
}

.volunteer-button:hover {
  background-color:#ff93dd;
}

.volunteer-button:active {
  position:relative;
  top:1px;
}

.volunteer-img {
  width: 70%;
  height: auto;
  align-content: center;
}

@media (max-width: 1000px) {
  #volunteer-container {
    display:table;
  }
  #volunteer-left {
    width: 85%;
  }
  #volunteer-right {
    display: inline-block;
  }
  .volunteer-right-container {
    margin: 2%;
    padding: 1%;
  }
}

/* --- MAPS CSS --- */

.Maps {
  font-family: 'Poppins', sans-serif;
  background-color: #e8e2ff;
  min-height: 100vh;
  padding: 2%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#maps-selector {
  width: 20%;
}

#maps-display {
  margin: 3%;
  width: 80%;
  height: 100vh;
  justify-content: center;
  display: flex;
}
